<h1>
	<%= @city.name %>
	"<i><%= @city.nickname %>"
</h1>

<div class='row'>
  <div class='col-md-4'>
  	<b>Country</b>
  	<br>
  	<img src="/images/<%= @city.country_flag_filename %>">
  	<%= @city.country %>
  </div>
  
  <div class='col-md-4'>
  	<b>Time Zone</b>
  	<br>
  	UTC+0<%= @city.time_zone_offset %>00
  </div>
  
  <div class='col-md-4'>
  	<b>Population</b>
  	<br>
  	<%= @city.population_in_millions%> million
  </div>
</div>


<div class='row'>
  <div class='col-md-8'>
  <b>Official URL</b>
  <a href="<%= @city.official_url %>">
  	<%= @city.official_url %>
  </a>
  </div>
  
  <div class='col-md-4'>
  	<b>River</b>
  	<br>
  	<%= @city.river %>
  </div>

</div>
